<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @telephone.user_id %>
</p>

<p>
  <strong>Id telephone:</strong>
  <%= @telephone.id_telephone %>
</p>

<p>
  <strong>Number:</strong>
  <%= @telephone.number %>
</p>

<%= link_to 'Edit', edit_telephone_path(@telephone) %> |
<%= link_to 'Back', telephones_path %>
