<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @email.user_id %>
</p>

<p>
  <strong>Id email:</strong>
  <%= @email.id_email %>
</p>

<p>
  <strong>Email:</strong>
  <%= @email.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @email.password %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
<%= link_to 'Back', emails_path %>
